* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;
}

div.container {
	display: flex;
	justify-content: center;

}


/* 地圖 */
#map {
	width: 100%;
	height: 95vh;
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


/* close leaflet-routing-machine */
.legendClickArea {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 27px;
	width: 100%;
	z-index: 1000;
	display: flex;
	justify-content: center;
}

.legendClickArea img {
	width: 35px;
	height: 35px;
	cursor: pointer;

}

.leaflet-routing-geocoders {
	margin-top: 20px;
}

.leaflet-routing-geocoders input {
	padding: 5px;
	font-weight: bolder;
	font-size: 16px;
	border: 3px solid #000;
	border-radius: 10px;
	outline: none;
	transition: .5s;
}

.leaflet-routing-geocoders input:focus {
	background: #c7ecee;
	border: 3px solid #1289A7;
}

div.leaflet-routing-container {
	padding: 20px;
}

/*
/* 回到當前位置 */
.goBackPosition {
	/* position: absolute; */
	z-index: 999;
	font-size: 36px;
	cursor: pointer;
}


/* BackToTaiwan */
.goBackTaiwan {
	position: absolute;
	align-items: center;
	z-index: 999;
	top: 10px;
	right: 50px;
	display: flex;
	justify-content: center;
	font-size: 35px;
	width: 35px;
	height: 35px;
	border: 1px solid #000;
	cursor: pointer;
	background: #d1d8e0;
}


/* 地圖按鈕顏色 */
.leaflet-container a {
	color: #000;
}

.leaflet-container a .my-control:hover {
	background-color: #ecf0f1;
}

.leaflet-control-layers {
	font-size: 16px;
	font-weight: bolder;
}


/* 頁尾授權 */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5vh;
	font-size: 10px;
	font-weight: bold;
	background: #dfe6e9;
}

/* popup的樣式設計 */
.leaflet-popup-content-wrapper {
	padding: 0;
	overflow: hidden;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
	margin: 0;
}

.leaflet-popup-content-wrapper h2 {
	padding: 10px;
	background: #ff6804;
	color: #fff;
	font-size: 18px;
	font-weight: bolder;
}

.leaflet-popup-content-wrapper p {
	font-size: 14px;
	padding: 0 10px;
	font-weight: bolder;
}

.leaflet-popup-content h3 {
	padding: 10px;
	font-size: 14px;
	font-weight: bolder;
}

/* popup的樣式設計(End) */