* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;
}

/* 地圖 */
#map {
	width: 100%;
	height: 95vh;
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}


/*
*** Leaflet Routing Machine
*/
/* close leaflet-routing-machine */
.legendClickArea {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 27px;
	width: 100%;
	z-index: 1000;
	display: flex;
	justify-content: center;
}

.legendClickArea img {
	width: 35px;
	height: 35px;
	cursor: pointer;

}

.leaflet-routing-geocoders {
	margin-top: 20px;
}

.leaflet-routing-geocoders input {
	padding: 5px;
	font-weight: bolder;
	font-size: 16px;
	border: 3px solid #000;
	border-radius: 10px;
	outline: none;
	transition: .5s;
}

.leaflet-routing-geocoders input:focus {
	background: #c7ecee;
	border: 3px solid #1289A7;
}

div.leaflet-routing-container {
	padding: 20px;
}


/*
*** 回到目前位置按鈕
*/
.goBackPosition {
	/* position: absolute; */
	z-index: 999;
	font-size: 36px;
	cursor: pointer;
}

/*
*** Show Taiwan
*/
.goBackTaiwan {
	position: absolute;
	align-items: center;
	/* 超連結的底線用掉 */
	text-decoration: none;
	z-index: 999;
	top: 10px;
	right: 50px;
	display: flex;
	justify-content: center;
	font-size: 35px;
	width: 35px;
	height: 35px;
	border: 3px solid #000;
	cursor: pointer;
	background: #d1d8e0;
	border-radius: 8px;
	transition: .5s;
}

.goBackTaiwan:hover {
	background-color: #82ccdd;
}

.goFiliter {
	z-index: 999;
	text-decoration: none;
	display: flex;
	justify-content: center;
	font-size: 18px;
	padding: 10px;
	border: 3px solid #718093;
	cursor: pointer;
	/* background: #82ccdd; */
	background: #f5f6fa;
	border-radius: 8px;
	transition: .5s;

}

/*
*** Map Control Design
*/
/* 地圖按鈕顏色 */
.leaflet-container a {
	color: #000;
}

.leaflet-container a .my-control:hover {
	background-color: #ecf0f1;
}

.leaflet-control-layers {
	font-size: 16px;
	font-weight: bolder;
}

/*
*** popup的樣式設計
*/
.leaflet-popup-content-wrapper {
	padding: 0;
	overflow: hidden;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
	margin: 0;
}

.leaflet-popup-content-wrapper h2 {
	padding: 10px;
	background: #ff6804;
	color: #fff;
	font-size: 18px;
	font-weight: bolder;
}

.leaflet-popup-content-wrapper p {
	font-size: 14px;
	padding: 0 10px;
	font-weight: bolder;
}

.leaflet-popup-content h3 {
	padding: 10px;
	font-size: 14px;
	font-weight: bolder;
}

/*
*** popup的樣式設計(End)
*/


/*
*** SideBar 設定
*/
.leaflet-sidebar-pane .container-List {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.container-List div {
	margin: 5px 0;
}

.leaflet-sidebar-header {
	font-weight: bolder;
}


label.select_Label {
	font-size: 16px;
	font-weight: bolder;
	background-color: black;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	padding: 5px;
	margin-right: 10px;
}

.form-select {
	font-size: 18px;
	font-weight: bolder;
}

.container-List button {
	margin-top: 10px;
	font-weight: bolder;
	padding: 5px 15px;
}

.container-List a.routing_pic {
	font-weight: bolder;
	font-size: 18px;
	margin-top: 20px;
}

/* Modal Dialog */
div.modal-content {
	border: none;
}

div.modal-header {
	font-size: 22px;
	font-weight: bolder;
	color: white;
}

.modal-title {
	font-size: 32px;
}

.modal-body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-body img {
	/* background-attachment: fixed; */
	background-position: center;
	width: 800px;
	/* height: 1200px; */
	height: auto;
	object-fit: cover;
}


/* click output */
div#tra_result,
div#mrt_result {
	font-size: 18px;
	font-weight: bolder;
}



/*
*** Marker-Cluster 設定
*/

/* 小 */
.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
}

/* 中 */
.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
}

/* 大 */
.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
}

.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: bolder;

}

.marker-cluster span {
	line-height: 30px;
}


/* AWESome_Marker */
.awesome-marker i {
	font-size: 18px;
	margin-top: 12px;
}

/*
*** Marker-Cluster 設定(End)
*/


/*
*** 頁尾授權
*/

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5vh;
	font-size: 10px;
	font-weight: bold;
	background: #dfe6e9;
}


.leaflet-popup-tip-container {
	margin: 0 0;
}

/* StyleControlGroup */
.menu-item-checkbox {
	padding: 5px 10px;
	font-size: 16px;
}

.menu-item-checkbox input {
	margin: 0 5px;
}

/* div.leaflet-control-layers section {
	margin-top: 20px;
} */